.content
  padding: 0px 0
  *
    +fz(17)
  h3
    padding-bottom: 20px
    padding-top: 20px
    margin: 0
    text-align: center
    +fz(24)
    font-weight: bold
  h2
    font-weight: bold
    +fz(28)
    text-align: center
    padding: 25px 0
    margin: 0
  p:first-letter
    padding-left: 30px
  table
    text-align: center
    thead
      th
        border-bottom: 1px solid #000
        border-top: none
        text-align: center
        +fz(22)
  .table th, .table td
    border-top: none