.project
  margin-bottom: 20px
  &__image
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    overflow: hidden
    margin-bottom: 10px
    position: relative
    img
      width: 100%
      vertical-align: top
    a
      display: block
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #000
        opacity: .3
        transition: all .25s
  &__text
    text-align: center
    h3
      +fz(18)
      font-weight: normal
      color: #092f36
      a
        color: #092f36

  &__price
    margin-bottom: 0
    +fz(28)
    color: #96d07f
    span
      +fz(10)
      color: #d3d3d3
  &__button
    margin-top: 10px
    a
      background-color: #08b9ec
      transition: all .25s
      color: #ffffff
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      padding: 8px 20px
      +fz(18)
      text-transform: lowercase
      &:hover
        background-color: darken(#08b9ec, 5%)
        color: #fff
  &:hover
    .project__image
      a
        &::after
          opacity: 0