section.section
    h2 Наши адреса
    .container
        .row
            .col-12.col-lg-6
                .address
                    h3 Центральный офис
                    p Адрес: 140755, Московская область Шатурский р-н ЦУС «Мир», дом 1 «Б»
            .col-12.col-lg-6
                .address
                    h3 Дополнительный офис
                    p Адрес: 140700, Московская область ГО Шатура ул. Интернациональная, дом 8, здание МФЦ
            .col-12
                <iframe src="https://yandex.ru/map-widget/v1/-/CBuN7BEU2B" allowfullscreen="true" class="address__frame"></iframe>