mixin files($title,$color)
    section.section.section_grey.section_line
        .container
            .row.align-items-center
                .col-12.col-lg-6
                    h2=$title
                .col-12.col-sm-6.col-lg-3.text-center
                    a(href='#' class="modal-open button button_" + $color data-title="Заказать звонок") Пройти тест на дом
                .col-12.col-sm-6.col-lg-3.text-center
                    a(href='#').button Посмотреть все дома