section.section.section_bg
    h2 Наше предложение
    .section.section_darkgrey
        .container
            .row
                p.tender Пройдите наш тест на ваш идеальный дом или баню и получите скидку до 90 000 рублей
                .col-12.col-lg-6.buttons
                    a(href='#').button Получить предложение
                .col-12.col-lg-6.buttons
                    a(href='#').button.button_blue Пройти бесплатный тест