section.section.saction_white
    h2 Проекты домов
    .container
        .row
            include ../components/project
            include ../components/project
            include ../components/project