extends layouts/layout
include  ../components/**/*.jade
include sections/files
block title
    | Проект
block content
    include components/breadcrumbs
    main.main
        .container
            .row
                .col-12.col-lg-3
                    .filter
                        form
                            ul
                                li

                                    b Размер дома
                                    label
                                        input(type='checkbox' name='size[frost]' value='Зимний')
                                        span Зимний
                                    label
                                        input(type='checkbox' name='size[dacha]' value='Дачный')
                                        span Дачный
                                li
                                    b Стоимость
                                    span от
                                    input(type='number' placeholder='3' name='min-price')
                                    span до
                                    input(type='number' placeholder='8' name='max-price')
                                    span млн. руб.
                                    .slider__price.filter__slider
                                li

                                    b Этажность
                                    label
                                        input(type='checkbox' name='floor' value='1')
                                        span один этаж
                                    label
                                        input(type='checkbox' name='floor' value='2')
                                        span два этажа
                                li

                                    b Технология
                                    p Клееный  брус, размер:
                                    label
                                        input(type='checkbox' name='floor' value='1')
                                        span один этаж
                                    label
                                        input(type='checkbox' name='floor' value='2')
                                        span два этажа
                                li
                                    b Площадь
                                    span от
                                    input(type='number' placeholder='3' name='min-area')
                                    span до
                                    input(type='number' placeholder='8' name='max-area')
                                    span кв.м
                                    .slider__area.filter__slider

                            .filter__button
                                button(type='reset').button Сбросить фильтр
                .col-12.col-lg-9
                    h1 Проекты домов
                    .row
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
                        include components/project
    .content
        .container
            .row
                .col-12
                    h2 Популярные типовые проекты: готовый дом из клееного бруса под ключ
                    p Готовый проект дома из клееного бруса — выше скорость, ниже цена
                    p В типовых проектах клееных домов GOOD WOOD живет более 3000 семей. Использовать готовые проекты так же удобно, как купить готовый дом — хозяева заранее оценивают постройку, перед заказом покупатель видит точные расчеты, варианты отделки и даже может побывать в точно таком же коттедже. В каталоге готовых проектов представлены постройки всех типов: из клееного бруса и блоков Porotherm, комбинированные, фахверки. К каждому варианту прилагается подробная комплектация и презентация. Вы получаете полную информацию о технологиях, особенностях и преимуществах конкретной постройки.
    include sections/pred
    .content
        .container
            .row
                .col-12
                    h2 Преимущества типового проекта дома из клееного бруса
                    p Инженеры уже учли и исправили все недочеты. Архитекторы и дизайнеры работают с покупателями и после окончания стройки. Мы регулярно проводим опросы, собираем пожелания, обращения хозяев — и вносим правки в конструкцию. Каждый элемент дома проверен десятки и даже сотни раз.
                    p Двойное ускорение:все расчеты готовы — вычеркиваем 3-4 недели на разработку индивидуальных чертежей и сразу запускаем производство;отработана технология стройки, каждый этап прорабы и строители изучили во всех подробностях — бригады работают быстрее.
                    p Снижаем расходы. Заказчику не придется платить за разработку — чертежи и техническая документация уже готовы. Расходы снижаются за счет оптимизации материалов, грамотного безотходного раскроя.