extends layouts/layout
include  ../components/**/*.jade
include sections/files
block title
    | Проект
block content
    include components/breadcrumbs
    main.main
        .container
            .content-text
                h1 Контакты
                .row.flex-lg-row-reverse
                    .col-12.col-lg-6
                        img(src='images/project.jpg' alt='123')
                    .col-12.col-lg-6
                        p Обычно наши клиенты используют форму ниже для того, чтобы узнать подробности о стоимости строительства индивидуального проекта, спросить о наличии товара, внести отличное предложение и задать массу других интересных вопросов. Те, кому импонируют личные контакты может найти здесь адрес ближайшей точки продаж, чтобы задать вопрос лично.
                        p И конечно, мы всегда читаем все Ваши сообщения и с радостью отвечаем так быстро, как это возможно, ведь мы ценим общение с нашими клиентами, потому, что каждый из них индивидуален и неповторим. Однако, в силу разного рода обстоятельств и неполадок в матрице, иногда, этот процесс проходит чуть медленнее, чем хотелось. Все-же не стоит переживать, ведь вы всегда можете просто позвонить к нам или написать еще раз спустя время.
                        p И кстати, мы не читаем рекламные предложения, поскольку они лишены чувств. Зато ими питается наш ручной почтовый робот, поскольку считает их своей зарплатой. Мы ценим его и не пытаемся препятствовать его работе, по этому, в качестве «побочного» эффекта все такие сообщения остаются незаметны для нас в глубоких недрах его электронного желудка.
                h2.text-center Наш адрес
                p.big Адрес: 140755 ЦУС «Мир», дом 1 «Б», Московская область Шатурский р-н
                h2.text-center Телефоны
                p.big Отдел продаж: 8 (495) 777-11-67
                p.big Бухгалтерия: 8 (49645) 62-621 (данная линия не консультирует по вопросам продаж)
                p.big По вопросам сотрудничества и рекламы: 8 (495)777-11-67 (после ответа автоответчика нажать 9)
                p.big Часы работы отдела продаж: Пн-Сб с 9:00-17:00, Вс — по предварительной записи
                p.big Юридическое лицо: ИП Пыльцын С. А., ОГРН 304504909300020
                h2.text-center Мы на карте
                <iframe src="https://yandex.ru/map-widget/v1/-/CBuN7BEU2B" allowfullscreen="true" class="address__frame"></iframe>
