extends layouts/layout
include  ../components/**/*.jade
include sections/files
block title
    | Проект
block content
    include components/breadcrumbs
    main.main
        .container
            .row
                h1 Дом «Фламинго»
            .row
                .col-12.col-lg-9
                    .magnific-slider
                        .project__slider
                            .item
                                a(href='images/project.jpg' title='123')
                                    img(src='images/project.jpg')
                            .item
                                a(href='images/project.jpg' title='123')
                                    img(src='images/project.jpg')
                            .item
                                a(href='images/project.jpg' title='123')
                                    img(src='images/project.jpg')
                            .item
                                a(href='images/project.jpg' title='123')
                                    img(src='images/project.jpg')
                        .project__subslider
                            .item
                                img(src='images/project.jpg')
                            .item
                                img(src='images/project.jpg')
                            .item
                                img(src='images/project.jpg')
                            .item
                                img(src='images/project.jpg')
                .col-12.col-lg-3
                    .project__desc
                        ul
                            li Площадь
                                span 157 кв.м
                            li Материал стен
                                span Керамический блок + Клееный брус
                            li Комнат
                                span 4
                            li Санузла
                                span 2
                            li Цена
                                span 285 700 руб.
                            li Коплектация
                                span
                                    select(name='complect')
                                        option() Комфорт
                                        option() Комфорт
                                        option() Комфорт

                    .project__button.project__add
                                        button.button.button_blue.modal-open(data-title="Заказать дом") Заказать дом
            .content
                    h3 Описание дома
                    p С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений.
                    p Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Таким образом реализация намеченных плановых заданий в значительной степени обуславливает создание дальнейших направлений развития.
                    h3 Комплектация
                    table.table.table-striped.table-responsive-md
                        thead
                            tr
                                th Без отделки - Зимний
                                th Хит
                                th Комфорт
                        tbody
                            tr
                                td(colspan='3').text-center
                                    b Фундамент
                            tr
                                td Свайно-винтовой
                                td Свайно-винтовой
                                td Свайно-винтовой
                            tr
                                td(colspan='3').text-center
                                    b Фундамент
                            tr
                                td Свайно-винтовой
                                td Свайно-винтовой
                                td Свайно-винтовой
                            tr
                                td(colspan='3').text-center
                                    b Фундамент
                            tr
                                td Свайно-винтовой
                                td Свайно-винтовой
                                td Свайно-винтовой
                            tr
                                td(colspan='3').text-center
                                    b Фундамент
                            tr
                                td Свайно-винтовой
                                td Свайно-винтовой
                                td Свайно-винтовой
                            tr
                                td(colspan='3').text-center
                                    b Фундамент
                            tr
                                td Свайно-винтовой
                                td Свайно-винтовой
                                td Свайно-винтовой


                    h3 Дополнительно
                    p С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. Товарищи! дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений.
                    p Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Таким образом реализация намеченных плановых заданий в значительной степени обуславливает создание дальнейших направлений развития.
    +files('Скачайте презентацию дома', 'green')
    include sections/projects

