.container
    .row
        .breadcrumbs
            ul
                li
                    a(href='#') Главная
                li
                    a(href='#') Проекты
                li
                    a(href='#') Проекты домов
                li
                    span Дом Фламинго