footer.footer
    .container
        .row.justify-content-between
            .col-12.col-lg-2.text-center.text-lg-left
                a(href='/').footer__logo
                    img(src='images/logo-footer.png' alt='123')
            .col-12.col-md-6.col-lg-2
                h3 Навигация
                ul
                    li.active
                        a(href='#') Главная
                    li
                        a(href='#') Магазин
                    li
                        a(href='#') Проекты
                    li
                        a(href='#') Портфолио
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Контакты
            .col-12.col-md-6.col-lg-3
                h3 Дополнительная информация:
                ul
                    li
                        a(href='#') Для сотрудничества
                    li
                        a(href='#') Юридическая информация
                    li
                        a(href='#') Политика конфиденциальности
                    li
                        a(href='#') Миссия компании
            .col-12.col-lg-4
                .footer__callback.text-center
                    p call-центр, с 9:00 до 21:00
                .footer__phone.text-center.text-lg-left
                    a(href='tel:88007751813') 8 (800) 775-18-13
                .footer__address.text-center.text-lg-left
                    p Адрес:  Московская область Шатурский р-н140755 ЦУС "Мир", дом 1 "Б",
                    p Телефон сотрудничества:
                        a(href='tel:+74957771167') +7 (495) 777-11-67
        .row.text-center
            .footer__copyright © 2007-2018. Фортуна-лес. Домостроительная компания.