header.header
    .container
        .row.align-items-center
            .col-3.col-md-4.col-lg-3.text-left
                a(href='#')
                    .logo.d-flex.align-items-center.justify-content-lg-center
                        .logo__left
                            img(src='images/logo.png')
                        .logo__right
                            p.logo__title Фортуна
                            p.logo__subtitle Домостроительная компания
            .col-12.col-lg-3.text-lg-right.text-center.d-none.d-lg-block
                .phone
                    p.phone__italic Для сотрудничества:<br/>
                    a(href="tel:+74957771167").phone__link +7 (495) 777-11-67
            .col-12.col-md-6.col-lg-3.text-lg-right.text-center.d-none.d-lg-block
                .header__button
                    button.button.modal-open(data-title="Заказать звонок") Заказать звонок
            .col-7.col-md-4.col-lg-3.text-lg-right.text-center
                .callback
                    a(href="tel:88007751813").callback__link 8 (800) 775-18-13
                    p.callback__text call-центр, с 9:00 до 21:00
            .col-2.d-lg-none
                .burger
                    span
                    span
                    span