nav.navigation
    .container
        .row
            .nav
                ul
                    li
                        a(href='#') Главная
                    li
                        a(href="#") Магазин
                        ul
                            li
                                a(href="#") Садовый декор
                            li
                                a(href='#') Пеллеты
                            li
                                a(href='#') Фурнитура мебельная
                    li
                        a(href='#') Проекты
                        ul
                            li
                                a(href="#") Садовый декор
                            li
                                a(href='#') Пеллеты
                            li
                                a(href='#') Фурнитура мебельная
                    li
                        a(href='#') Портфолио
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Контакты
                        ul
                            li
                                a(href='#') Основной офис
                            li
                                a(href='#') Сотрудничество
                            li
                                a(href='#') Отдел претензий
                            li
                                a(href='#' data-title='Заказать звонок').modal-open Заказать звонок
                            li
                                a(href='tel:88007751813').nav__phone 8 (800) 775-18-13