.col-12.col-lg-4
    .project
        .project__image
            a(href='#')
                img(src='images/project.jpg' alt='123')
        .project__text
            h3
                a(href='#') Дом «Фламинго» 6х6
            p.project__price
                span от
                |  285 700 руб.
            .project__button
                a(href='#').button Подробнее