.col-12.col-lg-4
    .review
        .review__top.d-flex.align-items-center
            .review__image
                img(src="images/review.jpg" alt='123')
            .review__name Евгений  Марков
        .review__text
            p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
            p Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации.
        .review__footer
            .review__build Строили:
                a(href='#') Дом 6Х6
            .review__link
                a(href='#') Посмотреть отзыв