.item(style='background-image: url(images/slide.jpg)')
    .container
        .row.align-items-center.slide
            .col-12.col-md-12.col-lg-6.slide__left.text-center.text-lg-left
                h2 Дом Вашей мечты от 250 000 руб  <br/> под ключ от 30 дней <br/> от компании с опытом работы 19 лет.
                .slide__button
                    a(href='#').button Подробнее
            .col-12.col-md-12.col-lg-6.text-center.text-lg-right
                .slide__form
                    h3 Скинем Вам подборку домов в PDF файле
                    form
                        .form__item
                            input(type='text' placeholder='Имя' name='name')
                        .form__item
                            input(type='mail' placeholder='E-mail' name='email')
                        .form__item
                            input(type='text' placeholder='Телефон' name='phone')
                        .form__item
                            button.button Отправить